@import "fonts.css";

.neue-montreal{
    font-family: "Neue Montreal";
}

.founders-grotesk{
    font-family: "Founders Grotesk";
}

.hello-honey{
    font-family: "Hello Honey";
}
.shooting-star{
    font-family: "Shooting Star";
}